<nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="{{ url_for('home') }}" class="flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Mention Monitor</span>
        </a>
        <div class="flex items-center lg:order-2 gap-2">
            <a href="{{ url_for('register') }}" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">New Sign Up</a>
            <a href="{{ url_for('dashboard_redirect') }}" class="text-white bg-black hover:bg-gray-900 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 dark:bg-black dark:hover:bg-gray-800 focus:outline-none dark:focus:ring-gray-800">Go to Dashboard</a>
            <a href="{{ url_for('logout') }}" class="text-black bg-white border border-black hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-white dark:text-black dark:hover:bg-gray-200 focus:outline-none dark:focus:ring-gray-800">Logout</a>
        </div>
    </div>
</nav>